lightning
nltk
transformer_lens
tokenizers
torchdata
lightning-bolts
pytorch-ignite
loguru
hydra-core
nnsight
safetensors
transformers
datasets
pyyaml
wandb
numpy
seaborn
plotly
tqdm
matplotlib
trl==0.8.3 
peft==0.11.1 
accelerate==0.30.1
bitsandbytes==0.42.0
datasets==2.18.0
